node_modules/
dist/
build/
coverage/
.env
.env.local
.env.*.local
*.log
npm-debug.log*
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea/
src/uploads/*
!src/uploads/.gitkeep
prisma/migrations/dev/
*.tsbuildinfo
docs/
